.btn-default:hover{
    background-color: rgb(217,217,217) !important;
}
.btn-default{
    font-size:3vh !important;
}
a{
    width:100% !important;
}
.btn-success{
    background-color: #6ec40c !important;
    font-weight: bolder;
}
.form-control{
    width:20rem;
}
p{
    color:red;
}

